{
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "jsx": true,
    "es6": true
  },
  "env" : {
    "node": true,
    "browser": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "arrow-body-style": [2, "always"]
  },
  "extends" : 'airbnb'
}
