.main {
  display: flex;
  height: 100vh;
}

.content-container {
  display: none;

  @media (min-width: 300px) {
    display: block;
    flex: 3;
    background-color: #181818;
    height: 100vh;
    padding: 1em 2em 0;
    overflow-y: auto;
  }

}

.player-container {
  width: 100%;
  background-color: #111;
  border-left: 1px solid #333;
  height: 100vh;
  padding-left: 2em;
  padding-right: 2em;
  overflow: hidden;

  @media (min-width: 300px) {
    flex: 1;
    min-width: 300px;
  }
}